[Unit]
Description=nylon SOCKS4/5 Proxy Server
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/sbin/nylon -c $CONFFILE -f
ExecReload = /bin/kill -HUP $MAINPID
EnvironmentFile=-/etc/default/nylon

[Install]
WantedBy=multi-user.target
